// .container {
//   max-width: 1200px;
//   padding: 0 15px;
//   margin-left: auto;
//   margin-right: auto;

//   @media (min-width: 370px) and (max-width: 768px) {
//     padding: 0;
//     min-width: 370px;
//     max-width: 768px;
//   }
// }
.container {
  min-width: 370px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 370px) {
    max-width: 480px;
    padding: 0 20px;
  }

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 0 40px;
  }

  @media (min-width: 1200px) {
    max-width: 1200px;
    padding: 0 15px;
  }
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Klavika-Regular', sans-serif;
  position: relative;
  @media (min-width: 377px) and (max-width: 768px) {
    overflow-x: hidden;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
