@font-face {
  font-family: 'Klavika-Bold';
  src: url(../fonts/klavika/Klavika-Bold.woff) format('woff'),
    url(../fonts/klavika/Klavika-Bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Klavika-LightItalic';
  src: url(../fonts/klavika/Klavika-LightItalic.woff) format('woff'),
    url(../fonts/klavika/Klavika-LightItalic.woff2) format('woff2');
}
@font-face {
  font-family: 'Klavika-Regular';
  src: url(../fonts/klavika/Klavika-Regular.woff) format('woff'),
    url(../fonts/klavika/Klavika-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Klavika-RegularItalic';
  src: url(../fonts/klavika/Klavika-RegularItalic.woff) format('woff'),
    url(../fonts/klavika/Klavika-RegularItalic.woff2) format('woff2');
}
