<section class="advantages">
    <div class="advantages-container">
        <ul class="advantages-list">
            <li class="advantages-list__item">
                <h3 class="advantages-list__title">RAŽOŠANA</h3>
                <p class="advantages-list__subtitle">DIGITĀLA</p>
                <p class="advantages-list__text">ietver tradīciju un kultūrvēsturiskā mantojuma glabāšanu</p>
            </li>

            <li class="advantages-list__item">
                <h3 class="advantages-list__title">TEHNOLOĢIJA UN PIEREDZE</h3>
                <ul class="title-list">
                    <li class="title-list__item">
                        <p class="advantages-list__subtitle">CAD CAM</p>
                        <p class="advantages-list__text">unikāla šīs metodes
                            adaptācija</p>
                    </li>
                    <li class="title-list__item">
                        <p class="advantages-list__subtitle">20 gadi</p>
                        <p class="advantages-list__text">un 17 gadu pieredze ar
                            CNC iekārtām</p>
                    </li>
                </ul>
            </li>
            <li class="advantages-list__item">
                <h3 class="advantages-list__title">APJOMI UN KAPACITĀTE</h3>
                <ul class="title-list">
                    <li class="title-list__item">
                        <p class="advantages-list__subtitle">670+</p>
                        <p class="advantages-list__text">piegādātas
                            guļbūves</p>
                    </li>
                    <li class="title-list__item">
                        <p class="advantages-list__subtitle">30 000&sup2</p>
                        <p class="advantages-list__text">ražošanas
                            telpu platība</p>
                    </li>
                </ul>
            </li>
            <li class="advantages-list__item">
                <h3 class="advantages-list__title">KVALITĀTE UN GARANTIJA</h3>
                <ul class="title-list">
                    <li class="title-list__item">
                        <p class="advantages-list__subtitle">0,5 mm</p>
                        <p class="advantages-list__text">apstrādes precizitāte</p>
                    </li>
                    <li class="title-list__item">
                        <p class="advantages-list__subtitle">98%</p>
                        <p class="advantages-list__text">eksports.
                            Ražots
                            Latvijā.</p>
                    </li>
                </ul>
            </li>
        </ul>
        <img class="advantages-img" src="./images/lineala-raksts.svg" alt="">
    </div>
</section>