<section class="footer">
    <div class="footer-wrapper">
        <div class="footer-nav">
            <a href="#" class="footer-nav__logo"><img src="./images/eko-nams-logo-footer.svg" alt=""
                    class="footer-nav__logo"></a>
            <ul class="footer-nav__list">
                <li class="footer-nav__item"><a class="footer-nav__link" href="#">LEJUPLĀDES</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="#">SĪKDATNES NOTEIKUMI</a></li>
                <li class="footer-nav__item"><a class="footer-nav__link" href="#">PRIVĀTUMA POLITIKA</a></li>
            </ul>
        </div>
        <img src="./images/lineala-raksts.svg" alt="" class="footer-img">
        <ul class="footer-socials">
            <li class="footer-socials__item">
                <p class="footer-socials-text">© 2020 EKO NAMS. Visas tiesības aizsargātas</p>
            </li>
            <li class="footer-socials__item">
                <img class="footer-socials__logo" src="./images/_caballero-digital-agency.svg" alt="">
            </li>
            <li class="footer-socials__item">
                <ul class="footer-media">
                    <li class="footer-media__item"><a class="footer-media__link" href="#">
                            <img src="./images/logo-fb-simple.svg" alt="" class="footer-media__img">
                        </a></li>
                    <li class="footer-media__item"><a class="footer-media__link" href="#">
                            <img src="./images/linkedin (2).svg" alt="" class="footer-media__img">
                        </a></li>
                    <li class="footer-media__item"><a class="footer-media__link" href="#">
                            <img src="./images/logo-youtube.svg" alt="" class="footer-media__img">
                        </a></li>
                </ul>
            </li>
        </ul>
    </div>
</section>