<section class="header">
    <img src="./images/icono-x-png-png-image-327238.png" alt="" class="close-btn">
    <a class="header-link" href="#">
        <img src="./images/ekonams-logo.svg" alt="" class="header-logo">
    </a>
    <div class="container">
        <ul class="header-nav">
        <li class="header-nav__item">

                <ul class="header-langset">
                    <li class="header-langset__item">EN</li>
                    <li class="header-langset__item">NO</li>
                    <li class="header-langset__item">SE</li>
                    <li class="header-langset__item">RU</li>
                    <li class="header-langset__item">LV</li>
                </ul>
                </li>
            <li class="header-nav__item"><a class="header-nav__link" href="#">KVALITĀTE</a>
          
                <ul class="header-dropdown">
                    <li class="header-dropdown__item"><a href="#" class="header-dropdown__link">Video</a></li>
                    <li class="header-dropdown__item"><a href="#" class="header-dropdown__link">Animācija</a></li>
                    <li class="header-dropdown__item"><a href="#" class="header-dropdown__link">Salīdzinājums</a></li>
                    <li class="header-dropdown__item"><a href="#" class="header-dropdown__link">Galerija</a></li>
                </ul>

            </li>
            <li class="header-nav__item"><a class="header-nav__link" href="#">PROJEKTI</a></li>
            <li class="header-nav__item"><a class="header-nav__link" href="#">SADARBĪBA</a>
                      
                            <ul class="header-dropdown header-dropdown--white">
                                <li class="header-dropdown__item header-dropdown__item--white"><a href="#" class="header-dropdown__link">Shēma</a>
                                </li>
                                <li class="header-dropdown__item header-dropdown__item--white"><a href="#"
                                        class="header-dropdown__link">Partneri</a></li>
                                <li class="header-dropdown__item header-dropdown__item--white"><a href="#" class="header-dropdown__link">Lorem,
                                        ipsum.</a></li>
                                <li class="header-dropdown__item header-dropdown__item--white"><a href="#" class="header-dropdown__link">Lorem,
                                        ipsum.</a></li>
                            </ul>
            </li>
            <li class="header-nav__item"><a class="header-nav__link" href="#">BLOGS</a></li>
            <li class="header-nav__item"><a class="header-nav__link" href="#">PAR MUMS</a></li>
            <li class="header-nav__item"><a class="header-nav__link header-nav__link--en" href="#">EN</a></li>
        </ul>
    </div>
</section>