<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1 class="hero-title">Guļbūvju ražošana īsti Skandināviskās tradīcijās</h1>
    
          <button class="js-btn"></button>
                <img class="hero-mute" src="./images/eko-nams-audio-mute.svg" alt="">
        </div>
        <div class="hero-video">
            <video src="https://www.w3schools.com/html/mov_bbb.mp4" class="video"autoplay loop playisinline muted></video>
        </div>

    </div>
  
    
</section>