<section class="product">
    <div class="container">
        <ul class="product-list">
            <li class="product-list__item">
                <h2 class="product-list__title">Produkts</h2>
                <p class="product-list__text">Guļbūve ir viena no senākajām ēku konstrukcijām, kura, nezaudējot savu
                    īpašo vērtību un nozīmi, saglabājusies līdz pat
                    mūsdienām. Aizvien vairāk pilsētnieku izjūt nepieciešamību dzīvot ekoloģiski tīrā un mājīgā vidē,
                    būt harmonijā ar dabu,
                    ar sevi. Meistarīgi veidota guļbūve apvienojumā ar modernām tehnoloģijām palīdz šos sapņus realizēt
                    dzīvē.</p>
                <h3 class="product-list__subtitle">Vairāk par produktu</h3>
            </li>
            <li class="product-list__item">
                <img class="product-image" src="./images/Rectangle Copy 3.jpg" alt="">
            </li>
        </ul>
        <img class="arrow" src="./images/227601_right_arrow_icon.png" alt="">
        <div class="bg-box"></div>
    </div>
</section>