.advantages {
  position: relative;
  margin-top: -5px;
}
.advantages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 442px;
  background-color: #242032;
  @media (min-width: 377px) and (max-width: 768px) {
    height: auto;
    padding-top: 20px;
  }
}

.advantages-list {
  display: flex;
  justify-content: center;
  @media (min-width: 377px) and (max-width: 768px) {
    display: block;
  }
}
.advantages-list__item {
  width: 270px;
  height: 176px;
  margin-bottom: 30px;
  text-align: center;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.advantages-list__title {
  font-family: 'Klavika-Bold';
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: white;
}
.advantages-list__subtitle {
  width: 100%;
  margin-bottom: 16px;
  background-color: #ededed;

  font-size: 28px;
  line-height: 34px;
  color: #242032;
}
.advantages-list__text {
  font-size: 16px;
  line-height: 28px;
  color: white;
}
.title-list {
  display: flex;
}
.title-list__item:not(:last-child) {
  margin-right: 10px;
}
.advantages-img {
  position: absolute;
  bottom: 0;
  width: 100vw;
}
