.advantages-container {
  position: relative;
  height: 442px;
  background-color: #242032;
}

.advantages-list {
  position: absolute;
  top: 25%;
  left: 11.5%;
  display: flex;
  justify-content: center;
}
.advantages-list__item {
  width: 270px;
  height: 176px;
  margin-bottom: 30px;
  text-align: center;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.advantages-list__title {
  font-family: 'Klavika-Bold';
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: white;
}
.advantages-list__subtitle {
  width: 100%;
  margin-bottom: 16px;
  background-color: #ededed;

  font-size: 28px;
  line-height: 34px;
  color: #242032;
}
.advantages-list__text {
  font-size: 16px;
  line-height: 28px;
  color: white;
}
.title-list {
  display: flex;
}
.title-list__item:not(:last-child) {
  margin-right: 10px;
}
.advantages-img {
  position: absolute;
  width: 100%;
  top: 91%;
}
