.footer {
  padding-top: 114px;
}
.footer-wrapper {
  width: 1355px;
  margin-right: auto;
  margin-left: auto;
}
.footer-nav__link {
  color: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;

  &__list {
    display: flex;
  }
}
.footer-nav__item:not(:last-child) {
  margin-right: 30px;
}
.footer-img {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 100px;
}
.footer-socials {
  display: flex;
  justify-content: space-between;
}
.footer-socials__item:not(:last-child) {
  margin-right: 200px;
}
.footer-media {
  display: flex;
}
.footer-media__item:not(:last-child) {
  margin-right: 20px;
}
.footer-socials-text {
  font-size: 15px;
  line-height: 18px;
  color: #6e6e6e;
}
.footer-socials__logo {
  height: 50px;
}
