.footer {
  padding-top: 114px;
  @media (min-width: 370px) and (max-width: 768px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.footer-wrapper {
  width: 1355px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 370px) and (max-width: 768px) {
    width: 100vw;
  }
}
.footer-nav__link {
  color: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.footer-nav {
  display: flex;
  justify-content: space-between;
  @media (min-width: 370px) and (max-width: 768px) {
    display: block;
    text-align: center;
  }

  &__list {
    display: flex;
    @media (min-width: 370px) and (max-width: 768px) {
      display: block;
    }
  }

  &__logo {
    @media (min-width: 370px) and (max-width: 768px) {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 30px;
    }
  }
}
.footer-nav__item:not(:last-child) {
  margin-right: 30px;
  @media (min-width: 370px) and (max-width: 768px) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.footer-img {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 100px;
  @media (min-width: 370px) and (max-width: 768px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.footer-socials {
  display: flex;
  justify-content: space-between;
  @media (min-width: 370px) and (max-width: 768px) {
    display: block;
    text-align: center;
  }
}
.footer-socials__item:not(:last-child) {
  margin-right: 200px;
  @media (min-width: 370px) and (max-width: 768px) {
    margin-right: 0;
  }
}
.footer-media {
  display: flex;
  @media (min-width: 370px) and (max-width: 768px) {
    margin-left: 30px;
  }
}
.footer-media__item:not(:last-child) {
  margin-right: 20px;
}
.footer-socials-text {
  font-size: 15px;
  line-height: 18px;
  color: #6e6e6e;
  @media (min-width: 370px) and (max-width: 768px) {
    margin-bottom: 30px;
  }
}
.footer-socials__logo {
  height: 50px;
  @media (min-width: 370px) and (max-width: 768px) {
    margin-left: 30px;
  }
}
