.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link {
  position: absolute;
  top: 0;
  left: 10.5%;
  width: 170px;
  height: 224px;
  background-color: #242032;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav {
  margin-left: 200px;
  display: flex;
  justify-content: center;

  &__link {
    font-family: 'Klavika-Bold';
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: inherit;
  }

  &__item:not(:last-child) {
    margin-left: 57px;
  }
  &__item:last-child {
    margin-left: 290px;
  }
}

.header-dropdown {
  position: absolute;
  top: 70px;
  width: 174px;
  display: none;
}
.header-dropdown__item {
  padding: 10px 17px;
  background-color: #252033;
  font-size: 14px;
  line-height: 18px;
  color: white;

  &:hover {
    background-color: #f6f7f9;
    color: #445870;
    transition: all 250ms ease;
  }
}
.header-nav__item:nth-child(1):hover .header-dropdown {
  display: block;
}

.header-dropdown__item--white {
  background-color: white;
  color: #6f6f70;
}
.header-nav__item:nth-child(3):hover .header-dropdown {
  display: block;
  color: #252033;
  background-color: #f1f1f1;
  border: 1px solid #ccc8c8;
  transition: all 250ms ease;
}
