.header {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link {
  position: absolute;
  top: 0;
  left: 50px;
  width: 170px;
  height: 224px;
  background-color: #242032;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-nav {
  display: flex;
  justify-content: center;

  &__item {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
  }
  &__link {
    color: inherit;
  }

  &__item:not(:last-child) {
    margin-left: 57px;
  }
  &__item:last-child {
    margin-left: 290px;
  }
}
