.hero {
  position: relative;
}
.hero-wrapper {
  width: 1355px;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  font-family: 'Klavika-Regular';
  font-size: 52px;
  font-style: normal;
  width: 450px;
  color: white;

  @media (min-width: 370px) and (max-width: 768px) {
    font-size: 30px;
  }
}
.video {
  width: 100%;
  height: auto;

  @media (min-width: 370px) and (max-width: 768px) {
    max-width: 100vw;
  }
}
.hero-content {
  position: absolute;
  top: 25%;
  left: 20%;
}
.hero-mute {
  margin-top: 50px;
}
.js-btn {
  position: absolute;
  top: 89%;
  z-index: 99;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
