.hero {
  position: relative;
}
.hero-title {
  font-family: 'Klavika-Regular';
  font-size: 52px;
  font-style: normal;
  width: 450px;
  color: white;
}
.video {
  width: 100%;
  height: auto;
}
.hero-content {
  position: absolute;
  top: 25%;
  left: 20%;
}
.hero-mute {
  margin-top: 50px;
}
.js-btn {
  position: absolute;
  top: 89%;
  z-index: 99;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
