.product {
  position: relative;
  padding-bottom: 126px;
}
.product-list {
  display: flex;
  // justify-content: flex-end;
}
.product-list__item:first-child {
  width: 487px;
  margin-right: 43px;
  margin-top: 319px;
}

.product-image {
  width: 570px;
  margin-top: 245px;
}
.product-list__title {
  margin-bottom: 27px;
  font-size: 44px;
  line-height: 60px;
  color: #1d1a27;
}
.product-list__text {
  margin-bottom: 39px;
  font-size: 16px;
  line-height: 28px;
  color: #6f6f70;
}
.product-list__subtitle {
  font-family: 'Klavika-Bold';
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #262330;
}
.arrow {
  position: absolute;
  top: 70%;
  left: 25%;
  width: 16px;
}
.bg-box {
  position: absolute;
  z-index: -1;
  top: 18%;
  right: 10.5%;
  width: 150px;
  height: 700px;
  background-color: #242032;
}
