.realization {
  padding-top: 100px;
  text-align: center;
  @media (min-width: 370px) and (max-width: 768px) {
    padding-top: 0;
  }
}
.realization-title {
  margin-bottom: 40px;
  font-size: 44px;
  line-height: 60px;
  color: #242032;
}
.realization-image {
  width: 100%;
}

.map {
  width: 100vw;
  height: 500px;
}
.marker {
  background-image: url('../images/m1.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Klavika-Regular', sans-serif;
}
