.realization {
  padding-top: 100px;
  text-align: center;
}
.realization-title {
  margin-bottom: 40px;
  font-size: 44px;
  line-height: 60px;
  color: #242032;
}
.realization-image {
  width: 100%;
}
